body{
    background-color: darkcyan;
}
   
    header{
        background-color: peachpuff ;
      
      }
      
      h1{
        text-align:center;color: teal;
      }
      h2{
        text-align:center;color: teal; 
      }